[core]
  pager = delta
[delta]
  syntax-theme = Nord
[interactive]
  diffFilter = delta --color-only
[user]
  name = Gabriel Berto
  email = gabriel.berto@pottencial.com.br
[push]
  default = current
[rebase]
  autostash = true
[pull]
  rebase = true
[init]
  defaultBranch = main
